.p1
{
    text-align: 50px; font-family: 'Arial', sans-serif; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
#field1 td:hover
{
    box-shadow: 10px 10px 11px 17px rgba(46, 5, 121, 0.432);
}
#field1 {
    display: inline-block;
    border-collapse: collapse;
    margin: 0 auto;
}

#field1 td {
    width: 650px;
    height: 270px;
    border: 2px solid black;
    text-align: center;
    font-weight: 100px;
    font-size: 11rem;
    cursor: pointer;
    -webkit-text-stroke-width: 25px;
}

/* Стиль для ячейки с "X" или "O" */
#field1 td div {
    line-height: 300px;
}

/* Стиль для кнопки "Restart" */
/* #button13 {
    display: block;
    height: 42px;
	border: none;
	background: #ec1606;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
} */

/* Фон страницы */
body {
    background-color: #cac8c8;
}